<?xml version="1.0" encoding="UTF-8"?>
<root>
	<time>16</time> 
	<orgs>
		<org>01900</org> <!-- 武汉农商银行 -->
	</orgs>
	<DBs>
		<DB> <!-- fitosa仓库端 -->
			<ip>192.168.0.90</ip>
			<type>Oracle</type><!-- 不区分大小写 -->
			<user>fitosa_qh</user>	<!-- 同步分析系统的用户名和密码 -->
			<pwd>aaa</pwd>
			<protocol>1521</protocol><!-- 数据库端口号 -->
			<sid>orcl</sid><!-- 数据库实例 -->
			<user-rep></user-rep><!-- 监管报告的库用户名密码 -->
			<pwd-rep></pwd-rep>
		</DB>
	</DBs>
	<datasources>
		<!-- 分析系统数据源  -->
		<analysisdatasource>java:comp/env/analysis_rsmis</analysisdatasource>
		<!-- 监管报告数据源  -->
		<reportdatasource></reportdatasource>
	</datasources>
	<!-- 数据库连接方式（直连【directConnection】 or 数据源连接【datasourceConnection】） -->
	<dbConnectionMode>datasourceConnection</dbConnectionMode>
	<reports>
 	<report>
			<id>129</id>
			<name>B3-(02)A</name>
		</report>
		<report>
			<id>203</id>
			<name>B3-(02)B1</name>
		</report>
		<report>
			<id>448</id>
			<name>B4-(01)A1</name>
		</report>
		<report>
			<id>449</id>
			<name>B3-(01)B</name>
		</report>
		<report>
			<id>450</id>
			<name>B3-(01)A</name>
		</report>
		<report>
			<id>465</id>
			<name>B4-(01)C</name>
		</report>	 
		<report>
			<id>467</id>
			<name>B3-(02)C1</name>
		</report>
		<report>
			<id>469</id>
			<name>B4-(02)A</name>
		</report>
		<report>
			<id>470</id>
			<name>B4-(05)</name>
		</report>
		<report>
			<id>471</id>
			<name>B4-(02)B</name>
		</report>
		<report>
			<id>473</id>
			<name>B4-(03)B</name>
		</report>
		<report>
			<id>474</id>
			<name>B4-(03)C</name>
		</report>
		<report>
			<id>490</id>
			<name>B4-(04)B</name>
		</report>
		<report>
			<id>491</id>
			<name>B4-(04)C</name>
		</report>
		<report>
			<id>500</id>
			<name>B3-(04)A</name>
		</report>
		<report>
			<id>501</id>
			<name>B3-(04)B</name>
		</report>
		<report>
			<id>502</id>
			<name>B3-(04)C</name>
		</report>
		<report>
			<id>503</id>
			<name>B3-(05)A1</name>
		</report>
		<report>
			<id>505</id>
			<name>B3-(05)A3</name>
		</report>
		<report>
			<id>507</id>
			<name>B3-(05)A2</name>
		</report>
		<report>
			<id>508</id>
			<name>B3-(02)C2</name>
		</report>
		<report>
			<id>509</id>
			<name>B3-(05)B1</name>
		</report>
		<report>
			<id>510</id>
			<name>B3-(05)B2</name>
		</report>
		<report>
			<id>511</id>
			<name>B3-(05)B3</name>
		</report>
		<report>
			<id>518</id>
			<name>B3-(03)B</name>
		</report>
		<report>
			<id>519</id>
			<name>B3-(03)C</name>
		</report>
		<report>
			<id>541</id>
			<name>B4-(01)A2</name>
		</report>
		<report>
			<id>542</id>
			<name>B4-(01)A3</name>
		</report>
		<report>
			<id>579</id>
			<name>B3-(02)E</name>
		</report>
		<report>
			<id>586</id>
			<name>B3-(05)A2a</name>
		</report>
		<report>
			<id>587</id>
			<name>B3-(05)A3a</name>
		</report>
		<report>
			<id>591</id>
			<name>B3-(02)B2</name>
		</report>
		<report>
			<id>592</id>
			<name>B3-(02)B3</name>
		</report>
		<report>
			<id>593</id>
			<name>B3-(02)D</name>
		</report>
		<report>
			<id>598</id>
			<name>B3-(05)A1a</name>
		</report>
		<report>
			<id>661</id>
			<name>661</name>
		</report>
		<report>
			<id>662</id>
			<name>662</name>
		</report>
		<report>
			<id>665</id>
			<name>665</name>
		</report>
		<report>
			<id>666</id>
			<name>666</name>
		</report>
		<report>
			<id>667</id>
			<name>667</name>
		</report>
		<report>
			<id>668</id>
			<name>668</name>
		</report>
		<report>
			<id>669</id>
			<name>669</name>
		</report>
		<report>
			<id>670</id>
			<name>670</name>
		</report>
		<report>
			<id>671</id>
			<name>671</name>
		</report>
		<report>
			<id>672</id>
			<name>672</name>
		</report>
		<report>
			<id>673</id>
			<name>673</name>
		</report>
		<report>
			<id>674</id>
			<name>674</name>
		</report>
		<report>
			<id>675</id>
			<name>675</name>
		</report>
		<report>
			<id>685</id>
			<name>685</name>
		</report>
		<report>
			<id>688</id>
			<name>688</name>
		</report>
		<report>
			<id>689</id>
			<name>689</name>
		</report>
		<report>
			<id>690</id>
			<name>690</name>
		</report>
		<report>
			<id>691</id>
			<name>691</name>
		</report>
		<report>
			<id>692</id>
			<name>692</name>
		</report>
		<report>
			<id>693</id>
			<name>693</name>
		</report>	
	</reports>
	<dcreports>
		<dcreport>
			<id>G0100</id>
			<name>50</name>
		</dcreport>
		<dcreport>
			<id>G0101</id>
			<name>51</name>
		</dcreport>
		<dcreport>
			<id>G0102</id>
			<name>53</name>
		</dcreport>
		<dcreport>
			<id>G0104</id>
			<name>55</name>
		</dcreport>
		<dcreport>
			<id>G0105</id>
			<name>56</name>
		</dcreport>
		<dcreport>
			<id>G0106</id>
			<name>57</name>
		</dcreport>
		<dcreport>
			<id>G0200</id>
			<name>682</name>
		</dcreport>
		<dcreport>
			<id>G0300</id>
			<name>22</name>
		</dcreport>
		<dcreport>
			<id>G0400</id>
			<name>23</name>
		</dcreport>
		<dcreport>
			<id>G0500</id>
			<name>24</name>
		</dcreport>
		<dcreport>
			<id>G0600</id>
			<name>683</name>
		</dcreport>
		<dcreport>
			<id>G1101</id>
			<name>25</name>
		</dcreport>
		<dcreport>
			<id>G1102</id>
			<name>62</name>
		</dcreport>
		<dcreport>
			<id>G1200</id>
			<name>26</name>
		</dcreport>
		<dcreport>
			<id>G1301</id>
			<name>27</name>
		</dcreport>
		<dcreport>
			<id>G1302</id>
			<name>408</name>
		</dcreport>
		<dcreport>
			<id>G1303</id>
			<name>409</name>
		</dcreport>
		<dcreport>
			<id>G1304</id>
			<name>410</name>
		</dcreport>
		<dcreport>
			<id>G1401</id>
			<name>28</name>
		</dcreport>
		<dcreport>
			<id>G1402</id>
			<name>29</name>
		</dcreport>
		<dcreport>
			<id>G1403</id>
			<name>578</name>
		</dcreport>
		<dcreport>
			<id>G1500</id>
			<name>31</name>
		</dcreport>
		<dcreport>
			<id>G1600</id>
			<name>32</name>
		</dcreport>
		<dcreport>
			<id>G1700</id>
			<name>580</name>
		</dcreport>
		<dcreport>
			<id>G2100</id>
			<name>33</name>
		</dcreport>
		<dcreport>
			<id>G2200</id>
			<name>34</name>
		</dcreport>
		<dcreport>
			<id>G2300</id>
			<name>35</name>
		</dcreport>
		<dcreport>
			<id>G2400</id>
			<name>36</name>
		</dcreport>
		<dcreport>
			<id>G3100</id>
			<name>37</name>
		</dcreport>
		<dcreport>
			<id>G3200</id>
			<name>38</name>
		</dcreport>
		<dcreport>
			<id>G3301</id>
			<name>40</name>
		</dcreport>
		<dcreport>
			<id>G3302</id>
			<name>74</name>
		</dcreport>
		<dcreport>
			<id>G4100</id>
			<name>41</name>
		</dcreport>
		<dcreport>
			<id>G4200</id>
			<name>42</name>
		</dcreport>
		<dcreport>
			<id>G4300</id>
			<name>43</name>
		</dcreport>
		<dcreport>
			<id>G5301</id>
			<name>93</name>
		</dcreport>
		<dcreport>
			<id>G5302</id>
			<name>94</name>
		</dcreport>
		<dcreport>
			<id>G5303</id>
			<name>95</name>
		</dcreport>
		<dcreport>
			<id>G5304</id>
			<name>96</name>
		</dcreport>
		<dcreport>
			<id>S0100</id>
			<name>64</name>
		</dcreport>
		<dcreport>
			<id>S5100</id>
			<name>78</name>
		</dcreport>
		<dcreport>
			<id>S5400</id>
			<name>72</name>
		</dcreport>
	</dcreports>
</root>