textarea {
	line-height: 180%;
}
a:visited {
	color:#330066;
	text-decoration: none;
}
a:link{color:#330066;	text-decoration: none;}
a:hover{
	color:#8080ff;
	text-decoration: underline;
}


body {
	border: none;
	scrollbar-base-color:		#F8F8F8;
	scrollbar-highlight-color:	#F8F8F8;
	scrollbar-3dlight-color:	#D8D8D8;
	scrollbar-darkshadow-color:	#D8D8D8;
	scrollbar-shadow-color:		#F8F8F8;
	scrollbar-face-color:		#F8F8F8;
	scrollbar-track-color:		#F8F8F8;
	scrollbar-arrow-color:		black;
	margin:0;

}
/*------------------- div遮盖层的样式---------------*/
.black_overlay {  
position: absolute;  
top: 0%;
left: 0%;  
width: 100%;  
height: 150%;
background-color: #fff;
z-index:1;  
-moz-opacity: 0.8;
opacity:.80;  
filter: alpha(opacity=80);  
}
/*------------------- 输入框的样式---------------*/
.input-text {

	
	padding-top:4px;
	padding-left:4;

}
/*------------------- 输入框的样式---------------*/
.locked-text {

	padding-top:4px;
	padding-left:4;
	background-color: #DCDCDC;

}
/* ----------- 按钮的样式--------------*/
.input-button {
	background: #ffffff;
 	color:000000;
	height: 22px;
	border: 1px solid #D0D0D0;
	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#D7DADD, endcolorstr=#F1F4F9);

	}
	.input-button1 {
	background: #efefef;
	color:3A4F6C;
	height: 22px;
	border: 1px solid #cccccc;

}

/* ----------------- 当前位置的样式----------------*/
#location{
		align:center ;			
		height:25;
		padding-left:12;
		padding-top:4;
		padding-bottom:0; 
		border-bottom:3 solid #AAC6F7;	
		border-top:0 solid #E0E0E0; 
		}

/*-----操作按钮区域样式--------*/
#operation{
		 width:100% ;
		 height:32;
		 padding-left:12;
		 padding-top:4;
		 padding-bottom:4 ;		 
		 border-top:0 dotted #FEF8F2; 
		 border-bottom:0 solid #C1D2E9;
		 }
/*-----弹出窗口样式--------*/
#popbody{
		 width:100% ;
		 background:F8F8F8;
		 padding-left:12;
		 padding-top:4;
		 padding-bottom:4 ;		 
		
		 }


/*-----scrolldiv滚动div样式--------*/
#scrolldiv{ 
		background:#ffffff;
		border-top:1 solid #DEDEDE;
		border-bottom:1 solid #DEDEDE;
		padding:12;
		
		}
		
#scrolldiv1{ 
		background:#ffffff;
		border:1 solid #DEDEDE;
		
		}

#scrolldiv1 th{
		height:25;
		padding-left:2;
		border-color:#f9a900;
		background:#F1F1F1;
		filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#ECECEC);
	
		}
#scrolldiv1 td {
	height: 25px;
	padding-left:2;
}

/*------------表单块--------*/

#fieldset {
	padding-top: 0px;
	padding-bottom: 10px;
        border:1 solid #C6C7C8;
}

/*-----------分页样式---------*/
#page{width:100% ;padding-top:6;padding-bottom:6; }
/*--------------数据列表样式---------*/
#list{align:center ;} 
 
#list table{
		align:center;
		width:100%;	
		background-color:White;
		border-bottom:1 solid #cccccc;
		border-top:1 solid #cccccc;
		border-collapse:collapse;
		}

#list th{
		height:25;
		border-color:#eeeeee;
		background:#F1F1F1;
		filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#ECECEC);
		color:973604;
		border-bottom:2 solid #973604;
		border-right:1 solid #eeeeee;
		}
#list td {
	height: 25px;
	border-bottom:1 solid #eeeeee;
	border-right:1 solid #eeeeee;
}
/*--------------数据列表样式2,适用于二位表格，复杂表格---------*/
.tbcolor{background:#cccccc}
.tbcolor th{filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#E0B06D);}
.tbcolor1 th{filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#E3AE4C, endcolorstr=#D68D28);}
.tbcolor2 th{filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#E3AE4C, endcolorstr=#D68D28);}
.middle{ background:#FFF2EC}
/*==================左边样式表================*/
.left{background:FEEECD url(../images/left.gif) no-repeat fixed right bottom;border-top:0 solid #FEEECD;
}

.titletab {
        width:170;
       	filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#FFF6E2);
		    border:0;  	
}

.titletd-exp {  
		color:#ffffff;
		font:bold;
        border:0;
        height:28;
        vertical-align:middle;
        padding-left:21;
		background:#F5C99C;
  		background-repeat: repeat-y;
		background-position: right center;
		background-image: url(../images/leftbarbg.gif);
		cursor:hand;
}
.titletd-col {
	color:#ffffff;
	font:bold;
	   border:0;
        height:28;
        vertical-align:middle;
        padding-left:21;
      	background:#F5C99C;
	 	background-repeat: repeat-y;
		background-position: right center;
        cursor:hand;
		background-image: url(../images/leftbarbg.gif) ;
     
}
.contenttd {
        border:0;
        height:100%;
		align:center;
		padding-top:8;
		padding-bottom:8;
}
.contenttab {
        width:97%;
        border:0;
        cursor:hand;
		align:center;
       }
.contenttd-normal {
	border:0;
	vertical-align:middle;
	height:22;
	pading:1;
	padding-left:21;
	cursor:hand;
	background-attachment: fixed;
	background-image: url(../images/leftitembg.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.contenttd-over {
	border:0;
	vertical-align:middle;
	height:22;
	padding-left:20;
	border: 1 solid #CCCCCC;
	cursor:hand;
	background-color:#F1F1F1;
	color:#000000;
	background-attachment: fixed;
	background-image: url(../images/leftitembg1.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.contenttd-sele {
	border:0;
	vertical-align:middle;
	height:22;
	padding-left:20;
	border: 1 solid #F0BD7F;
	cursor:hand;
	background-color:#FFF3CB;
	color:#000000;
	background-attachment: fixed;
	background-image: url(../images/leftitembg1.gif);
	background-repeat: no-repeat;
	background-position: left center;
		
}
/*=============顶部样式控制=============*/
/*-----渐变背景--------*/

#top {filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=1, startcolorstr=#ffffff, endcolorstr=#FF9610);
	width:100%
	}

#menu{background:#EA6119;border-bottom:1 solid #cccccc;
}
#menu a{color:#ffffff}
#menu td {color:F29A6C;

}
.toppic{
	FILTER: alpha(opacity=100, finishOpacity=0,style=2);
	background-repeat:no-repeat;
	background-position:50% 25%;
}
.top-pic{FILTER: alpha(opacity=0,finishopacity=80,style=1,startx=5,starty=0,finishx=250,finishy=100);}
#top-alpha{background-color: ffffff; Filter: Alpha(Opacity=0, FinishOpacity=80, Style=1, StartX=40, StartY=0, FinishX=80, FinishY=0);}
#top-alpha a{ color:#000000}

/*==================分页显示部分的样式===========================*/
.apartpage_span {color:blue}

a.apartpage:visited {
	color:#EA6119;
	text-decoration: none;
}
a.apartpage:link{color:#EA6119;	text-decoration: none;}
a.apartpage:hover{
	color:#666666;
	text-decoration: underline;
}



/*==================系统字体全局控制===========================*/
td,input,th,select,textarea {
		font-size: 12px;	
}

/*---控制系统个区域颜色块---*/
.contentBlock,fieldset {border: 1px solid #E6E6E6;background:f8f8f8;}
#operation,#location,{background:F8F8F8; }
.input-text,textarea{border: 1px solid #81B3C8;}

/**表头列的背景设置**/
.tableHeader {
  background-color:#f3d897;
  text-align:center
}
.menuTD {
  behavior:url(js/smInfoMenu.htc);
  cursor: hand;
  text-align:center;
  background-color:#f3d897
}

td{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
}
.form{
  font-family:宋体,Arial;
  font-size: 9pt;
  color: #1c1f87;
  border: 1px solid #f3d897;
  padding-left: 1;
  padding-right: 1;
  padding-top: 3;
  background-color: #F3D897;
}
.mainTable {
	width:880px;
	text-align:center;
	border-collapse: collapse;
	border: dotted #f3d897 1px;
	font-family:宋体,Arial;
	font-size: 9pt;
}
.mainTable3 {
	width:650px;
	text-align:center;
	border-collapse: collapse;
	border: dotted #f3d897 1px;
	font-family:宋体,Arial;
	font-size: 9pt;
	background-color:#f3d897
}
.mainTable2 {
	width:940px;
	text-align:center;
	border-collapse: collapse;
	border: dotted #f3d897 1px;
	font-family:宋体,Arial;
	font-size: 9pt;
	background-color: #f3d897;
}
.mainLikeTable {
	text-align:center;
	border-collapse: collapse;
	border: dotted #f3d897 1px;
	font-family:宋体,Arial;
	font-size: 9pt;
}

.naviTableOn {
	font-family:宋体,Arial;
	font-size: 9pt;
	width:200px;
	height:22px;
	text-align:center;
	border-collapse: collapse;
	border: dotted #f3d897 1px;
	background-color:#4791C5;
	cursor: hand;
	color: #1c1f87
}
.naviTableOff {
	font-family:宋体,Arial;
	font-size: 9pt;
	width:200px;
	height:22px;
	text-align:center;
	border-collapse: collapse;
	border: dotted #f3d897 1px;
	cursor: hand;
	color: #1c1f87;
}
.tabCommon{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	background : url(../image/tab.bg.dln.gif);
	height:48px;
	text-align:center;
}
.formButton{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	height: 18px;
	background : url(../image/buttonBk.jpg);
	border: 1 solid #f3d897;
	padding-left: 5px;
	padding-right: 5px;
	cursor: hand;
	padding-top: 1px;
	letter-spacing: 1px;
}
.formButtonOn{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	height: 18px;
	background-color: #f3d897;
	border: 1 solid #f3d897;
	padding-left: 5px;
	padding-right: 5px;
	cursor: hand;
	padding-top: 1px;
	letter-spacing: 1px;
}
.tabButton{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	background : url(../image/button.jpg);
	height:29px;
	border: 1px #f3d897;
	width:1000px;
}
.buttonOff{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: hand;
	padding-top: 2px;
	letter-spacing: 1px;
	border: 1 solid #f3d897;
	top: 1px; 
	position: relative ;
	}
.buttonOn{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	height: 20px;
	border: 1 solid #629DC5;
	padding-left: 10px;
	padding-right: 10px;
	cursor: hand;
	padding-top: 2px;
	background-color: #f3d897;
	letter-spacing: 1px;
	top: 1px; 
	position: relative ;
}
.buttonPlaceholder{
	width: 8px;
	background : url(../image/place.jpg);
	height: 10px;
}

.tabOn{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	background : url(../image/tab.bg.on.gif);
	height:48px;
	text-align:center;
}
.tabOff{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	background : url(../image/tab.bg.off.gif);
	height:48px;
	text-align:center;
}
body {
	scrollbar-face-color: #ffffff;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #ffffff;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-arrow-color: #ffffff;
	scrollbar-track-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	text-align : center;
	margin : 0;
	font-family:宋体,Arial;
	background-color:#ffffff;
	font-size: 9pt;
}
.common{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	height:48px;
	text-align:center;
	background-color: #f3d897;
}
.tdLine{
	background-color: #f3d897;
	height:1px;
}
.href{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	text-decoration:none;
}
.href:hover{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: red;
	text-decoration:underline;
}
.buttonSearch{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	height: 19px;
	padding-left: 12px;
	cursor: hand;
	padding-top: 2px;
	padding-bottom: 1px;
	background : url(../image/buttonSearch.gif);
	letter-spacing: 1px;
	border: 1 solid #336699;
	}
.buttonView{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	height: 19px;
	padding-left: 12px;
	cursor: hand;
	padding-top: 2px;
	padding-bottom: 1px;
	background : url(../image/buttonView.gif);
	letter-spacing: 1px;
	border: 1 solid #f3d897;
	}
.buttonDel{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	height: 19px;
	padding-left: 12px;
	cursor: hand;
	padding-top: 2px;
	padding-bottom: 1px;
	background : url(../image/buttonDel.gif);
	letter-spacing: 1px;
	border: 1 solid #f3d897;
	}
.buttonAdd{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	height: 19px;
	padding-left: 12px;
	cursor: hand;
	padding-top: 2px;
	padding-bottom: 1px;
	background : url(../image/buttonAdd.gif);
	letter-spacing: 1px;
	border: 1 solid #f3d897;
	}
.buttonModify{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	height: 19px;
	padding-left: 12px;
	cursor: hand;
	padding-top: 2px;
	padding-bottom: 1px;
	background : url(../image/buttonModify.gif);
	letter-spacing: 1px;
	border: 1 solid #f3d897;
	}
.mainoption{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	height: 19px;
	padding-left: 12px;
	cursor: hand;
	padding-top: 2px;
	padding-bottom: 1px;
	background : url(../image/buttonModify.gif);
	letter-spacing: 1px;
	border: 1 solid #f3d897;
	}
.form2{
  font-family: 宋体; 
	font-size: 9pt; 
	padding-top: 2px;
	color: #1c1f87;
	background-color: #f3d897; 
	border-left: 1 solid #f3d897; 
	border-right: 1 solid #f3d897; 
	border-top: 1 solid #f3d897; 
	border-bottom: 1 solid #f3d897;
}
.theader{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	background : url(../image/bgcolor.gif);
	height:24px;
	border: 1px #f3d897;
	font-weight: bold;
}

.td2{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	border-bottom: 2px solid #f3d897;
}
.td3{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	border-bottom: 1px solid #f3d897;
}
.td4{
	font-family:宋体,Arial;
	font-size: 9pt;
	color: #1c1f87;
	border-bottom: 1px solid #f3d897;
}