<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	
	<!-- 内网消息DAO  add by wmm start-->
	<bean id="tMsgInfoDAO" class="com.fitech.model.commoninfo.dao.TMsgInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<!-- 内网消息DAO  add by wmm end-->
</beans>

